
{{ define "base" }}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Johnerator</title>
        <meta name="description" content="Character Generator for Everyone Is John">
        <meta name="Jeremiah Miller" content="Johnerator">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header class="col s12 center">
                    <a href="/"><img class="responsive-img" src="https://storage.googleapis.com/johnerator/everyone_is_john_logo.png"></a>
                    <h3 style="margin-top: 0px">Character Generator</h3>
            </header>
                <nav>
                    <div class="nav-wrapper blue-grey darken-4" >
                        <a href="/" class="brand-logo" style="margin-top: 5px; margin-left: 5px;"><img src="https://storage.googleapis.com/johnerator/EVERYONE_IS_JOHN_face.png" width="50px" height="auto"></a>
                        <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a class="resource-trigger" href="#!" data-target="resourceDropdown">Resources<i class="material-icons right">arrow_drop_down</i></a></li>
                            <li><a class="contribute-trigger" href="#!" data-target="contributeDropdown">Contribute<i class="material-icons right">arrow_drop_down</i></a></li>
                        </ul>
                    </div>
                </nav>
            <!--Side Nav-->
            <ul class="sidenav" id="mobile-menu">
                <li><a href="/character-sheet">Character Sheet</a></li>
                <li><a href="http://overlycommonname.github.io/john.html">Original Rules</a></li>
                <li><a href="https://www.drivethrurpg.com/product/271276/Everyone-is-John">Updated Rules</a></li>
                <li><a href="https://github.com/jmillerv/johnerator#contributing">Github</a></li>
                <li><a href="https://github.com/jmillerv/johnerator/issues">Report Issue</a></li>
                <li><a href="https://www.buymeacoffee.com/jeremiah.dev">Donate</a></li>
            </ul>
            <!-- Contribute Dropdown -->
            <ul id="contributeDropdown" class="dropdown-content">
                <li><a href="https://github.com/jmillerv/johnerator#contributing">Github</a></li>
                <li><a href="https://github.com/jmillerv/johnerator/issues">Report Issue</a></li>
                <li><a href="https://www.buymeacoffee.com/jeremiah.dev">Donate</a></li>
                <li class="divider"></li>
            </ul>
            <!-- Resources Dropdown -->
            <ul id="resourceDropdown" class="dropdown-content">
                <li><a href="/character-sheet">Character Sheet</a></li>
                <li><a href="http://overlycommonname.github.io/john.html">Original Rules</a></li>
                <li><a href="https://www.drivethrurpg.com/product/271276/Everyone-is-John">Updated Rules</a></li>
                <li class="divider"></li>
            </ul>
            <main>
                {{template "main" .}}
            </main>
            <!-- Invoke the footer template -->
            {{template "footer" .}}
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems);
                var contributeElems = document.querySelector('.contribute-trigger');
                var resourceElems = document.querySelector('.resource-trigger');
                var instance = M.Dropdown.init(contributeElems, {
                    coverTrigger: false,
                    constrainWidth: false,
                });
                var instance2 = M.Dropdown.init(resourceElems, {
                    coverTrigger: false,
                    constrainWidth: false,
                });
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>

{{ end }}