
{{ define "base" }}
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Blank Character Sheet</title>
    <meta name="description" content="Character Sheet for Everyone Is John">
    <meta name="Jeremiah Miller" content="Johnerator">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="html/css/character_sheet_override.css">
</head>
<body>
<div>
    <main>
        {{template "main" .}}
    </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>

{{ end }}