{{ define "footer" }}
<br>
<footer class="page-footer grey darken-1">
    <div class="container">
        <div class="center">
            <a href="buymeacoffee.com/jeremiah.dev" class="grey-text text-lighten-4">Further the development of the Johnerator and other projects</a>
        </div>
        <div class="footer-copyright grey darken-1">
            <div class="container">
                <a href="https://jeremiah-miller.com" class="grey-text text-lighten-4"> © 2021 Jeremiah Miller</a>
                <a class="grey-text text-lighten-4 right" href="https://mortarworkstudios.com">More Gaming Content Here</a>
            </div>
        </div>
    </div>
</footer>
{{ end }}