{{ define "footer" }}
<br>
<footer class="page-footer blue-grey darken-4">
    <div class="container">
        <div class="center">
            <a href="https://buymeacoffee.com/jeremiah.dev" class="grey-text text-lighten-4">Support this and other work</a>
        </div>
        <div class="footer-copyright blue-grey darken-4">
            <div class="container">
                <a href="https://jeremiah-miller.com" class="grey-text text-lighten-4"> © 2021 Jeremiah Miller</a>
                <a class="grey-text text-lighten-4 right" href="https://mortarworkstudios.com">More Gaming Content Here</a>
            </div>
        </div>
    </div>
</footer>
{{ end }}